/* style for all */
body
{
    background-image: url(assets/bg2.png) ;
    margin: 0%;
    padding: 0%;
}

.container-fluid
{
    margin: 0%;
    padding: 0%;
} 

@font-face
{
    font-family: myFont;
    src: url("font/LeJourScript.ttf");
}

@font-face
{
    font-family: myFont1;
    src: url("font/LeJourSerif.ttf");
}

@font-face
{
    font-family: myFont2;
    src: url("font/ModernSans-Light.otf");
}

@font-face
{
    font-family: myFont4;
    src: url("font/GeosansLight-Oblique.ttf");
}


/* style for navbar */

.navbar-body
{
    background-image: url(assets/bg2.png) ; 
    /* background-color: #9E7351;  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 98.9vw;
}

.navlogo
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.navlink
{
    margin-top: 40px;
}

.navbar-link-indiv
{
    font-family: myfont1;
    color: #864823;
    text-decoration: none;
    font-size: 25px;
    margin-right: 50px;
}

.navbar-link-indiv:hover
{
    color: #9E7351;
    text-decoration: underline;
}

.logo
{
    width: 200px;
    height: 100px;
    margin-left: 50px;

}

/* style for profile */

.SelfImg
{
    width: 650px;
    height: 570px;
}

@media screen {
    
}

.profileimg
{
    text-align: center;
    margin-right: -5%;
    margin-top: 2%;
    object-fit: contain;
}

.profilecontent
{
    margin-top: 10vh;
    color: #864823;
}

.profilecontent-H
{
    font-family: myFont;
    font-size: 40px;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    margin-left: 21%;
}

.profilecontent-H2
{
    font-family: myFont1;
    width: 80%;
    margin: auto;
    margin-bottom: 15px;
    margin-left: 23%;
}

.profilecontent-P
{
    font-family: myFont2;
    font-weight: bold;
    font-size: 20px;
    width: 80%;
    margin: auto;
    text-align: justify;
    margin-left: 23%;
}

.profilecontent-Link
{
    font-family: myFont2;
    font-weight: bold;
    font-size: 20px;
    text-decoration: underline;
    color:#864823;
    width: 80%;
    margin: auto;
    text-align: justify;
    margin-left: 23%;
}

.profilecontent-Link:hover
{
    color:#9E7351;
}

.profilebody
{
    width: 95vw;
}

/* profile bg style */
.Paperbg1
{
    background-repeat: no-repeat;
    background-size: cover;
    width: 60vw;
    height: 20vh;
    position: absolute;
    z-index: -100;
    margin-top: -1%;
    margin-left: 39.3%;
}

.Paperbg2
{
    background-repeat: no-repeat;
    background-size: cover;
    width: 60vw;
    height: 20vh;
    position: relative;
    z-index: -100;
    margin-top: -5%;
}

.Flower1
{
    position: absolute;
    z-index: -99;
    width: 7vw;
    object-fit: contain;
}

/* style for project */

.projectcontent
{
    color: #864823;
}

.projectcontent-H2
{
    font-family: myFont;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    margin-left: 10%;
    text-align: center;
}

.projectcontent-P
{
    font-family: myFont1;
    font-weight: bold;
    font-size: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

/* style for project content */
.project-card
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 50px;
}

.projectsContent
{
    display: flex;
    flex-direction: row;
    
}


.projectcontent-img
{
    width: 380px;
    height: 200px;
}

.projectscontent-body
{
    margin-left: 4%;
}

.projectcontent-content
{
    background-color: #F4EFEB;
    border-radius: 10px;
    height: 440px;
    border:2px solid #864823;

}

.projectcontent-content:hover
{
    border:3px solid #c39471;
}

.projectcontent-content-img
{
    text-align: center;
}


.projectcontent-content-title
{
    font-family: myFont1;
    font-size: 20px;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-left: 10%;
    text-align: center;
    color: #864823;

}

.projectcontent-content-detail
{
    font-family: myFont2;
    font-size: 18px;
    font-weight: bold;
    margin: auto;
    margin-top: 20px;
    text-align: justify;
    color: #864823;

}

.projectcontent-link
{
    text-align: center;
    margin-top: 20px;
}

.projectcontent-link-content
{
    font-family: myFont;
    color: #864823;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.projectcontent-link-content:hover
{
    color: #9E7351;
}

/* style for project bg */
.ProjectPaperbg1
{
    background-repeat: no-repeat;
    background-size: cover;
    width: 70vw;
    height: 50vh;
    position: absolute;
    z-index: -100;
    margin-top: 3%;

}

.ProjectPaperbg2
{
    background-repeat: no-repeat;
    background-size: cover;
    width: 80vw;
    height: 50vh;
    position: absolute;
    z-index: -100;
    margin-top: 47%;
    margin-left: 19%;
}

.ProjectButterfly1
{
    width: 10vw;
    height: 15vh;
    position: absolute;
    z-index: -100;
    margin-left: 1vw;
    margin-top: 2vh;
}

.ProjectFlower1
{
    height: 30vh;
    position: absolute;
    z-index: 100;
    margin-left: 91%;
    margin-top: 65%;
}

/* style for contact */

.Contact-body
{
    background:none;
}

.Contact-h1
{
    font-family: myfont;
    color: #864823;
    margin-bottom: 30px;
    text-align: center;
}


.Contact-p
{
    font-family: myFont2;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    color: #864823;
    font-weight: bold;
}

.Contact-link
{
    font-family: myFont2;
    font-size: 20px;
    text-align: center;
    color: #864823;
    font-weight: bold;
}

.Contact-p-link
{
    text-align: center;
}

/* style for contact bg */

.ContactPaperbg1
{
    background-repeat: no-repeat;
    background-size: cover;
    width: 60vw;
    height: 20vh;
    position: relative;
    z-index: -100;
   
}

.ContactPaperbg2
{
    background-repeat: no-repeat;
    background-size: cover;
    width: 60vw;
    height: 20vh;
    position: relative;
    z-index: -100;
    margin-top: -1%;
    margin-left: 39.3%;
}

.ContactFlower1
{
    height: 25vh;
    position: absolute;
    z-index: -99;
    margin-top: 13%;
    margin-left: 29%;
}

.ContactButterfly1
{
    width: 10vw;
    height: 15vh;
    position: absolute;
    z-index: -99;
    margin-left: -60%;
    margin-top: 2%;
}

.ContactDrawing1
{
    height: 20vh;
    position: absolute;
    z-index: -99;
    margin-top: 18%;
    margin-left: 30%;
}

.Contact-git-logo
{
    width: 10vh;
    height: 10vh;
}

.Contact-git-link
{
    text-align: center;
}

/* style for footer */
.Footer-body
{
    background:none;
    height: 10vh;
    text-align: center;
}

.Footer-content
{
    font-family: myFont2;
    font-size: 20px;
    text-align: center;
    margin-top: 35px;
    color: #864823;
    font-weight: bold;
}

.Footer-link
{
    font-family: myFont2;
    font-size: 20px;
    text-align: center;
    color: #864823;
    font-weight: bold;
}

.Footer-link:hover
{
    color: #9E7351;
}


